/*
es un comentario CSS
*/

body {
    background-color: #FADBDB;
}

header {
    background-color: #CFA0A0;
}

h1 {
    color: #784848;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: underline;
    /*permite decorar el texto,es este caso,subrayado*/
    text-align: center;
    font-size: 5.8em;
    /*tamaño de la fuente*/
    font-style: oblique;
    /*estilos de la fuente,por ejemplo;italica,obliqua*/
    font-weight: 500;
    /*grosor del contorno de la fuente 100(minimo) hasta 900(maximo)*/
}

span {
    color: #361b1b;
}

main {
    background-color: #8A5252;
}

h2 {
    color: #784848;
    background-color: #CFA0A0;
    font-size: 2em;
    text-decoration: underline;
    font-weight: 500;
}

/*aca utilizo un selector por id,es decir,nombrando el id del elemnto particular que quiero que se cambie el diseño*/
#titulo_sec {
    color: #FADBDB;
}

#jjj {
    color: aliceblue;
}

/*para seleccionar elemtos de html que deban tener las mismas propiedades debemos usar clases,las clases se identifican con CSS con un .(punto)*/
.parrafo {
    color: #CFA0A0;
}